## Python Basic Assignment_20

### Q1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

#### Ans1).

In [1]:
test1 = 'This is a test of the emergency text system'
len(test1)

43

In [2]:
outfile = open('test.txt', 'wt')
outfile.write(test1)

43

In [3]:
outfile.close()

### Q2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

#### Ans2).

In [4]:
with open('test.txt', 'rt') as infile:
    test2 = infile.read()
    len(test2)
test1 == test2

True

### Q3. Create a CSV file called books.csv by using these lines:
    title,author,year
    The Weirdstone of Brisingamen,Alan Garner,1960
    Perdido Street Station,China Miéville,2000
    Thud!,Terry Pratchett,2005
    The Spellman Files,Lisa Lutz,2007
    Small Gods,Terry Pratchett,1992

#### Ans3).

In [5]:
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

In [6]:
len(text)

201

In [7]:
import pandas as pd
pd.read_csv("books.csv")

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Mi�ville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

### Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

#### Ans4).

In [8]:
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''')

In [9]:
db.commit()

### Q5. Read books.csv and insert its data into the book table.

#### Ans5).

In [10]:
import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

In [11]:
db.commit()

### Q6. Select and print the title column from the book table in alphabetical order.

#### Ans6).

In [12]:
sql = 'select title from book order by title asc'
for row in db.execute(sql):
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

### Q7. From the book table, select and print all columns in the order of publication.

#### Ans7).

In [13]:
for row in db.execute('select * from book order by year'):
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

### Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

#### Ans8).

In [14]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

### Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

#### Ans9).

In [15]:
! pip install redis

Requirement already satisfied: redis in c:\users\welcome\anaconda4\lib\site-packages (3.5.3)

In [18]:
import redis
conn = redis.Redis('localhost')
conn.delete('test')

0

In [19]:

conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

<ipython-input-19-edc7ba1a1a96>:1: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

True

In [20]:
conn.hgetall('test')

{b'count': b'1', b'name': b'Fester Bestertester'}

### Q10. Increment the count field of test and print it.

#### Ans10).

In [21]:
conn.hincrby('test', 'count', 3)

4

In [22]:
conn.hget('test', 'count')

b'4'

## THE END