## Python Basic Assignment_1

#### Ans1).

- Operators
  - (*) is a mathematical operator
  - (-)is a mathematical operator 
  - (/) is a mathematical operator 
  - (+) is a mathematical operator

- Values
  - ('hello') is a value
  - (-87.8) is a value
  - (6) is a value

#### Ans2).

A String is a worth addressing text 

A Variable is a name that can belongs to any value

#### Ans3).

- Number (or int). Used for whole numbers. 

- Float (or Real). Used for numbers that contain decimals. 

- String (or str or text). Used for a mix of any characters like letters, numbers and pictures.

#### Ans4).

- An Expression is a combiation of qualities values & operators. All expressions are evaluate (that is, reduce) to a single value.

#### Ans5).

- An expression evaluates to a single value but an Statement doesn't.

#### Ans6).

In [9]:
bacon = 22
bacon + 1

23

#### Ans7).

In [10]:
'spam' + 'spamspam'

'spamspamspam'

In [11]:
'spam' * 3

'spamspamspam'

#### Ans8).

- Variables name cannot begin with number

#### Ans9).

- The int(), float(), and str() function will assess to the integer, floating point number, and string forms of the value passed.

#### Ans10).

In [12]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

- Expression causing an error because we adding an integer with Strings.
- We fix the Error by converting a integer into String.

In [13]:
'I have eaten ' + "99" + ' burritos.'

'I have eaten 99 burritos.'

## THE END